.pixel {
    width: 10px;
    height: 10px;
    border: .25px solid lightgray;
    box-sizing: border-box;
}

.color-choice {
    width: 25px;
    height: 25px;
    margin: 3px;
    border-radius: 50%;
    box-sizing: border-box;
}

.tool {
    width: 40px;
    height: 25px;
    line-height: 25px;
    margin: 5px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: darkgray;
    border: 2px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#colorPicker {
    width: 40px;
    height: 30px;
    margin: 5px;
    background-color: darkgray;
    border: 2px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(60, 10px);
    grid-template-rows: repeat(50, 10px);
    grid-auto-rows: 10px;
    width: 600px;
    height: 500px;
    margin: 0 auto;
}

.container-mobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10px);
    grid-template-rows: repeat(50, 10px);
    grid-auto-rows: 10px;
    width: 370px;
    height: 500px;
    margin: 0 auto;
}

.palette {
    width: 600px;
    height: 40px;
    margin: 0 auto;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.palette-tools {
    width: 600px;
    height: 40px;
    margin: 0 auto;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#title {
    width: 600px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color:black;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: darkgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#credits {
    width: auto;
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}

@keyframes fall {
    to {
        transform: translate(0, 100vh);
    }
}